components:
  securitySchemes:
    Bearer:
      scheme: Bearer
      type: http
    UserBearer:
      scheme: Bearer
      type: http
info:
  description: |
    ## Endpoints

    Endpoints are authenticated using the Bearer authorization scheme, using the
    REDO_API_SECRET.

    ```txt
    GET /v2.2/resource HTTP/1.1
    Authorization: Bearer 77bb7598b7a972475cc7c7e171ec33af
    Host: api.getredo.com
    ```

    ## Webhooks

    Webhooks are authenticated using the Bearer authorization scheme, using
    a secret supplied by the subscriber.

    ```txt
    POST /events HTTP/1.1
    Authorization: Bearer subscriberauth123
    Host: subscriber.example.com
    ```

    Webhook events are delivered in order for each individual subject (e.g.
    return).

    If the response is not a 2xx status code, the event will be retried multiple
    times before discarding it.
  contact:
    name: Redo Engineering
    email: engineering-admin@getredo.com
  title: Redo API
  version: 2.2.0
openapi: 3.1.0
paths:
  /__return: { $ref: webhook/return.path.yaml }
  /returns/{returnId}/comments: { $ref: path/return-comments.path.yaml }
  /returns/{returnId}/status: { $ref: path/return-status.path.yaml }
  /stores/{storeId}/returns: { $ref: path/returns.path.yaml }
  /stores/{storeId}/webhooks: { $ref: path/webhooks.path.yaml }
  /webhooks/{webhookId}: { $ref: path/webhook.path.yaml }
servers:
  - url: https://api.getredo.com/v2.2
webhooks:
  return:
    $ref: webhook/return.path.yaml
