components:
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    UserBearer:
      scheme: bearer
      type: http
info:
  contact:
    email: engineering-admin@getredo.com
    name: Redo Engineering
  description: |
    ## Endpoints

    Endpoints are authenticated using the Bearer authorization scheme, using the
    REDO_API_SECRET.

    ```txt
    GET /v2.2/resource HTTP/1.1
    Authorization: Bearer 77bb7598b7a972475cc7c7e171ec33af
    Host: api.getredo.com
    ```

    ## Webhooks

    Webhooks are authenticated using the Bearer authorization scheme, using
    a secret supplied by the subscriber.

    ```txt
    POST /events HTTP/1.1
    Authorization: Bearer subscriberauth123
    Host: subscriber.example.com
    ```

    Webhook events are delivered in order for each individual subject (e.g.
    return).

    If the response is not a 2xx status code, the event will be retried multiple
    times before discarding it.
  title: Redo API
  version: 2.2.1
openapi: 3.1.0
tags:
  - name: Checkout Buttons
  - name: Coverage Info
  - name: Coverage Products
  - name: Custom Events
  - name: Customer Portal
  - name: Customer Subscriptions
  - name: Customers
  - name: Inbound Shipments
  - name: Inventory Levels
  - name: Invoices
  - name: Merchant Admin
  - name: Orders
  - name: Products
  - name: Returns
  - name: Storefront
  - name: Webhooks
paths:
  # Checkout Buttons
  /stores/{storeId}/checkout-buttons-ui:
    { $ref: path/checkout-buttons-ui.path.yaml }
  # Coverage Info
  /stores/{storeId}/coverage-info: { $ref: path/coverage-info.path.yaml }
  # Coverage Products
  /stores/{storeId}/coverage-products:
    { $ref: path/coverage-products.path.yaml }
  # Custom Events
  /stores/{storeId}/events: { $ref: path/custom-events.path.yaml }
  /stores/{storeId}/events/bulk: { $ref: path/custom-events-bulk.path.yaml }
  # Customer Portal
  /stores/{storeId}/customer-portal: { $ref: path/customer-portal.path.yaml }
  # Customer Subscriptions
  /stores/{storeId}/customer-subscriptions:
    { $ref: path/customer-subscriptions.path.yaml }
  # Customers
  /stores/{storeId}/customers: { $ref: path/customers.path.yaml }
  # Inbound Shipments
  /stores/{storeId}/inbound-shipments:
    { $ref: path/inbound-shipments.path.yaml }
  /stores/{storeId}/inbound-shipments/{inboundShipmentId}:
    { $ref: path/inbound-shipment.path.yaml }
  # Inventory Levels
  /stores/{storeId}/inventory-levels:
    { $ref: path/inventory-levels.path.yaml }
  /stores/{storeId}/inventory-levels/{inventoryLevelId}:
    { $ref: path/inventory-level.path.yaml }
  # Invoices
  /invoices/pending/items.csv: { $ref: path/invoice-pending-csv.path.yaml }
  /invoices/{invoiceId}/items.csv: { $ref: path/invoice-csv.path.yaml }
  /stores/{storeId}/invoices: { $ref: path/return-payout-object-list.path.yaml }
  # Merchant Admin
  /stores/{storeId}/admin: { $ref: path/admin.path.yaml }
  # Orders
  /stores/{storeId}/orders: { $ref: path/orders.path.yaml }
  /stores/{storeId}/orders/{orderId}: { $ref: path/order.path.yaml }
  /stores/{storeId}/orders/{orderId}/fulfillments:
    { $ref: path/order-fulfillments.path.yaml }
  /stores/{storeId}/orders/{orderId}/fulfillments/{fulfillmentId}/shipment-status:
    { $ref: path/order-fulfillment-shipment-status.path.yaml }
  # Products
  /stores/{storeId}/products/bulk-upload:
    { $ref: path/products-bulk-upload.path.yaml }
  # Returns
  /returns/{returnId}: { $ref: path/return.path.yaml }
  /returns/{returnId}/comments: { $ref: path/return-comments.path.yaml }
  /returns/{returnId}/process: { $ref: path/return-process.path.yaml }
  /returns/{returnId}/status: { $ref: path/return-status.path.yaml }
  /stores/{storeId}/returns: { $ref: path/returns.path.yaml }
  # Return Tags
  /stores/{storeId}/return-tags: { $ref: path/return-tags.path.yaml }
  /stores/{storeId}/return-tags/{name}: { $ref: path/return-tag.path.yaml }
  # Storefront
  /stores/{storeId}/storefront/events:
    { $ref: path/storefront-events.path.yaml }
  # Webhooks
  /stores/{storeId}/webhooks: { $ref: path/webhooks.path.yaml }
  /webhooks/{webhookId}: { $ref: path/webhook.path.yaml }
  /webhooks/{webhookId}/replay: { $ref: path/webhook-replay.path.yaml }
servers:
  - url: https://api.getredo.com/v2.2
webhooks:
  return:
    $ref: webhook/return.path.yaml
