components:
  securitySchemes:
    Bearer:
      scheme: Bearer
      type: http
    UserBearer:
      scheme: Bearer
      type: http
info:
  contact:
    email: engineering-admin@getredo.com
    name: Redo Engineering
  description: |
    ## Endpoints

    Endpoints are authenticated using the Bearer authorization scheme, using the
    REDO_API_SECRET.

    ```txt
    GET /v2.2/resource HTTP/1.1
    Authorization: Bearer 77bb7598b7a972475cc7c7e171ec33af
    Host: api.getredo.com
    ```

    ## Webhooks

    Webhooks are authenticated using the Bearer authorization scheme, using
    a secret supplied by the subscriber.

    ```txt
    POST /events HTTP/1.1
    Authorization: Bearer subscriberauth123
    Host: subscriber.example.com
    ```

    Webhook events are delivered in order for each individual subject (e.g.
    return).

    If the response is not a 2xx status code, the event will be retried multiple
    times before discarding it.
  title: Redo API
  version: 2.2.1
openapi: 3.1.0
paths:
  /invoices/pending/items.csv: { $ref: path/invoice-pending-csv.path.yaml }
  /invoices/{invoiceId}/items.csv: { $ref: path/invoice-csv.path.yaml }
  /returns/{returnId}: { $ref: path/return.path.yaml }
  /returns/{returnId}/comments: { $ref: path/return-comments.path.yaml }
  /returns/{returnId}/process: { $ref: path/return-process.path.yaml }
  /returns/{returnId}/status: { $ref: path/return-status.path.yaml }
  /stores/{storeId}/admin: { $ref: path/admin.path.yaml }
  /stores/{storeId}/checkout-buttons-ui:
    { $ref: path/checkout-buttons-ui.path.yaml }
  /stores/{storeId}/coverage-info: { $ref: path/coverage-info.path.yaml }
  /stores/{storeId}/coverage-products:
    { $ref: path/coverage-products.path.yaml }
  /stores/{storeId}/customer-portal: { $ref: path/customer-portal.path.yaml }
  /stores/{storeId}/customer-subscriptions:
    { $ref: path/customer-subscriptions.path.yaml }
  /stores/{storeId}/invoices: { $ref: path/return-payout-object-list.path.yaml }
  /stores/{storeId}/returns: { $ref: path/returns.path.yaml }
  /stores/{storeId}/shipments/buy: { $ref: path/shipment-buy.path.yaml }
  /stores/{storeId}/shipments/rates: { $ref: path/shipment-rates.path.yaml }
  /stores/{storeId}/shipments/{shipmentId}/documents/{documentType}:
    { $ref: path/shipment-document.path.yaml }
  /stores/{storeId}/storefront/events:
    { $ref: path/storefront-events.path.yaml }
  /stores/{storeId}/webhooks: { $ref: path/webhooks.path.yaml }
  /webhooks/{webhookId}: { $ref: path/webhook.path.yaml }
  /webhooks/{webhookId}/replay: { $ref: path/webhook-replay.path.yaml }
servers:
  - url: https://api.getredo.com/v2.2
webhooks:
  return:
    $ref: webhook/return.path.yaml
