openapi: 3.1.0
info:
  contact:
    email: engineering-admin@getredo.com
    name: Redo Engineering
  description: |
    ## Endpoints

    Endpoints are authenticated using the Bearer authorization scheme, using the
    REDO_API_SECRET.

    ```txt
    GET /v2.2/resource HTTP/1.1
    Authorization: Bearer 77bb7598b7a972475cc7c7e171ec33af
    Host: api.getredo.com
    ```

    ## Webhooks

    Webhooks are authenticated using the Bearer authorization scheme, using
    a secret supplied by the subscriber.

    ```txt
    POST /events HTTP/1.1
    Authorization: Bearer subscriberauth123
    Host: subscriber.example.com
    ```

    Webhook events are delivered in order for each individual subject (e.g.
    return).

    If the response is not a 2xx status code, the event will be retried multiple
    times before discarding it.
  title: Redo API
  version: 2.2.1
servers:
  - url: https://api.getredo.com/v2.2
tags:
  - name: Checkout Buttons
  - name: Coverage Info
  - name: Coverage Products
  - name: Custom Events
  - name: Customer Portal
  - name: Customer Subscriptions
  - name: Customers
  - name: Inbound Shipments
  - name: Inventory Items
  - name: Inventory Levels
  - name: Invoices
  - name: Merchant Admin
  - name: Orders
  - name: Products
  - name: Returns
  - name: Storefront
  - name: Webhooks
paths:
  /stores/{storeId}/checkout-buttons-ui:
    description: Generate HTML and CSS for checkout buttons to enable or disable returns coverage.
    get:
      description: Generate rendered HTML and CSS for checkout buttons.
      operationId: Checkout buttons UI
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  css:
                    description: Boilerplate checkout button CSS, plus any merchant configured styles or A/B tests.
                    title: Checkout buttons CSS
                    type: string
                  html:
                    description: Boilerplate checkout button HTML
                    title: Checkout buttons HTML
                    type: string
          description: Success
      summary: Checkout Buttons UI
      tags:
        - Checkout Buttons
    summary: Checkout buttons UI
  /stores/{storeId}/coverage-info:
    description: Navigate to the coverage info page.
    get:
      description: Navigate to the coverage info page.
      operationId: Coverage info navigate
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      responses:
        '302':
          description: Redirect
      summary: Navigate to Coverage Info
      tags:
        - Coverage Info
    summary: Coverage info
  /stores/{storeId}/coverage-products:
    description: Available coverage products.
    post:
      description: Get available coverage products.
      operationId: Coverage products
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                cart:
                  $ref: '#/components/schemas/storefront-cart.schema'
                customer:
                  $ref: '#/components/schemas/storefront-customer.schema'
                products:
                  description: Product information.
                  items:
                    properties:
                      id:
                        description: Identifier of the product.
                        title: ID
                        type: string
                    required:
                      - id
                    type: object
                  deprecated: true
                  title: Products
                  type: array
                variants:
                  description: Variant information.
                  items:
                    properties:
                      height:
                        $ref: '#/components/schemas/length.schema'
                        description: Height of an item.
                        title: Height
                      id:
                        description: Identifier of the variant.
                        title: ID
                        type: string
                      length:
                        $ref: '#/components/schemas/length.schema'
                        description: Length of an item.
                        title: Length
                      title:
                        title: Title
                        type: string
                      weight:
                        $ref: '#/components/schemas/weight.schema'
                        description: Weight of an item.
                        title: Weight
                      width:
                        $ref: '#/components/schemas/length.schema'
                        description: Width of an item.
                        title: Width
                    required:
                      - id
                    type: object
                  deprecated: true
                  title: Variants
                  type: array
              required:
                - cart
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  coverageProducts:
                    description: Coverage products.
                    items:
                      $ref: '#/components/schemas/coverage-product.schema'
                    title: Coverage Products
                    type: array
                required:
                  - coverageProducts
                type: object
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      summary: Coverage Products
      tags:
        - Coverage Products
    summary: Coverage products
  /stores/{storeId}/events:
    post:
      description: |
        Create a custom event to trigger flows with merchant-defined event names and properties.

        Custom events allow merchants to trigger flows based on events from their own systems.
        Events can include custom properties that are accessible in email and SMS templates,
        and are persisted for segmentation and historical queries.

        ## Identity Resolution
        The API resolves customers using the following priority order:
        1. `customer.id` — Redo customer ObjectId (highest priority)
        2. `customer.email` — customer email address
        3. `customer.phoneNumber` — customer phone number

        At least one identifier must be provided. If no matching customer is found, one will
        be created automatically. If `customer.id` is provided but not found, the API falls
        back to email/phone rather than returning 404.

        ## Datetime Formatting
        All datetime values must be formatted as ISO 8601 (RFC 3339) strings, e.g., `2026-04-02T12:00:00Z`.
        This applies to `eventTimestamp`, any date-valued properties in `data`, and any date-valued `customFields`.
        Strings matching this format are automatically detected and indexed as dates for segmentation.

        ## Rate Limiting
        This endpoint is rate-limited to 100 requests per second per store.
      operationId: Custom event create
      x-express-openapi-disable-validation-middleware: true
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-event-request.schema'
            examples:
              full_example:
                summary: Every field populated
                value:
                  eventName: Purchase Milestone Reached
                  customer:
                    id: 665f1a2b3c4d5e6f7a8b9c0d
                    email: stewart@example.com
                    phoneNumber: '+11234567890'
                    firstName: Stewart
                    lastName: Thompson
                    location:
                      street1: 123 Main St
                      street2: Apt 4B
                      city: Seattle
                      state: Washington
                      stateCode: WA
                      postalCode: '98101'
                      country: United States
                      countryCode: US
                      ianaTimeZoneName: America/Los_Angeles
                      latitude: 47.6062
                      longitude: -122.3321
                    customFields:
                      Age at Signup: 25
                      Birthday: '1976-07-04T12:00:00Z'
                      Loyalty Tier: Gold
                      Accepts Marketing: true
                  eventTimestamp: '2026-04-02T12:00:00Z'
                  value: 299.99
                  valueCurrency: USD
                  uniqueId: milestone-test-001
                  data:
                    Milestone Type: 100th_purchase
                    Total Spent: 5000
                    VIP Tier: gold
                    Enrolled At: '2025-01-01T00:00:00Z'
                    Campaign Source: email_drip
                    Last Purchase Date: '2026-03-15T00:00:00Z'
                    $extra:
                      Most Recent Order IDs:
                        - 1
                        - 2
                        - 3
                      Profile Snapshot:
                        tier: gold
                        memberSince: '2024-01-01'
              medium_example:
                summary: Event with customer profile and data
                value:
                  eventName: Order Placed
                  customer:
                    email: stewart@example.com
                    firstName: Stewart
                    lastName: Thompson
                    customFields:
                      Birthday: '1976-07-04T12:00:00Z'
                      Loyalty Tier: Gold
                  value: 149.99
                  valueCurrency: USD
                  data:
                    Order Id: ord_456
                    Item Count: 3
                    Category: apparel
              minimal:
                summary: Required fields only
                value:
                  eventName: Page Viewed
                  customer:
                    email: stewart@example.com
        required: true
      responses:
        '202':
          description: Event accepted and queued for processing. No response body is returned.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request body or missing required customer identifier
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Store not found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Rate limit exceeded
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create custom event
      tags:
        - Custom Events
  /stores/{storeId}/events/bulk:
    post:
      description: |
        Create multiple custom events in a single request. Accepts up to 100 events per request.

        Each event is validated independently. The response includes per-event results, allowing
        partial failures — some events may be accepted while others are rejected due to validation
        errors.

        ## Identity Resolution
        Each event resolves customers independently using the same priority order as the
        single-event endpoint:
        1. `customer.id` — Redo customer ObjectId (highest priority)
        2. `customer.email` — customer email address
        3. `customer.phoneNumber` — customer phone number

        At least one identifier must be provided per event. If no matching customer is found,
        one will be created automatically.

        ## Rate Limiting
        This endpoint is rate-limited to 100 requests per second per store.
      operationId: Bulk create custom events
      x-express-openapi-disable-validation-middleware: true
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-custom-event-request.schema'
            examples:
              mixed_events:
                summary: Bulk event creation with multiple event types
                value:
                  events:
                    - eventName: User Registered
                      customer:
                        email: alice@example.com
                      data:
                        Plan Type: premium
                    - eventName: Purchase Completed
                      customer:
                        email: bob@example.com
                      data:
                        Order Total: 99.99
                        Item Count: 3
                      value: 99.99
                      valueCurrency: USD
                      uniqueId: order-456
        required: true
      responses:
        '202':
          description: Bulk request accepted and queued for processing. No response body is returned.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request body (e.g., events array missing or exceeds 100 items)
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Store not found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Rate limit exceeded
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Bulk create custom events
      tags:
        - Custom Events
  /stores/{storeId}/customer-portal:
    description: Navigate to the customer portal.
    get:
      description: Navigate to the customer portal.
      operationId: Customer portal navigate
      parameters:
        - $ref: '#/components/parameters/store-id.param'
        - description: HMAC-SHA256 JWT of {"iss":"<partnerId>","sub":"<storeId>/<customerId>"}
          in: query
          name: token
          schema:
            type: string
        - description: Order ID
          in: query
          name: order_id
          schema:
            type: string
      responses:
        '302':
          description: Redirect
      summary: Navigate to Customer Portal
      tags:
        - Customer Portal
    summary: Customer portal
  /stores/{storeId}/customer-subscriptions:
    description: Update customer subscription preferences for marketing and transactional messages.
    post:
      description: Update customer subscription status for SMS and email marketing and transactional messages. If the customer with that phone number or email does not exist, it will be created.
      operationId: Customer subscriptions update
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  $ref: '#/components/schemas/customer-subscription-email.schema'
                sms:
                  $ref: '#/components/schemas/customer-subscription-sms.schema'
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-subscription-update-response.schema'
          description: Success
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Bad Request
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Update Customer Subscriptions
      tags:
        - Customer Subscriptions
    summary: Customer subscriptions
  /stores/{storeId}/customers:
    description: Manage customer profiles.
    get:
      description: |
        Retrieve a customer profile by email address.

        The response includes the customer's name, contact information, location,
        and any custom fields associated with the profile. Custom fields are returned
        as `{ fieldName: value }` pairs.
      operationId: Customer get
      parameters:
        - $ref: '#/components/parameters/store-id.param'
        - description: Customer email address
          in: query
          name: email
          required: true
          schema:
            format: email
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-read.schema'
              example:
                id: 67bd4f1a2e3c8d001a5f9b12
                email: jane@example.com
                firstName: Jane
                lastName: Smith
                phoneNumber: '+11234567890'
                location:
                  street1: 123 Main St
                  street2: Suite 12
                  city: Seattle
                  state: Washington
                  stateCode: WA
                  postalCode: '98101'
                  country: United States
                  countryCode: US
                  latitude: 47.6062
                  longitude: -122.3321
                customFields:
                  pricing_plan: com.example.yearly
                  status: Active
                  subscription_source: web
                  loyalty_points: 1250
                  vip_member: true
                createdAt: '2026-02-20T18:30:00.000Z'
                updatedAt: '2026-02-24T12:15:00.000Z'
          description: Customer found
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Missing or invalid email parameter
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: No customer found for that email
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Internal server error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Get customer by email
      tags:
        - Customers
    put:
      description: |
        Create or update a customer profile. Uses the email address as the upsert
        key — if a customer with that email exists, their profile is updated;
        otherwise, a new customer is created.

        ## Profile fields
        - `firstName` and `lastName` are set directly on the customer. A full
          display name is automatically generated from these fields.
        - `phoneNumber` should be in E.164 format (e.g., `+12345678900`). If the
          number is new, it is added to the customer's contact information.

        ## Location
        Providing `location` sets the customer's current location. Only the fields
        you include are updated.

        ## Custom fields
        Use `customFields` to store arbitrary key-value data on the customer (e.g.,
        `pricing_plan`, `subscription_source`). Values can be strings, numbers, or
        booleans. If a custom field doesn't exist yet, it is created automatically.
      operationId: Customer upsert
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer-upsert-request.schema'
            examples:
              create_customer:
                summary: Create a new customer with custom fields
                value:
                  email: jane@example.com
                  firstName: Jane
                  lastName: Smith
                  phoneNumber: '+11234567890'
                  location:
                    street1: 123 Main St
                    street2: Suite 12
                    city: Seattle
                    state: Washington
                    stateCode: WA
                    postalCode: '98101'
                    country: United States
                    countryCode: US
                    latitude: 47.6062
                    longitude: -122.3321
                  customFields:
                    pricing_plan: com.example.yearly
                    status: Active
                    subscription_source: web
                    loyalty_points: 1250
                    vip_member: true
              update_custom_fields:
                summary: Update only custom fields for an existing customer
                value:
                  email: jane@example.com
                  customFields:
                    status: Cancelled
                    cancellation_reason: Too expensive
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-upsert-response.schema'
              example:
                id: 67bd4f1a2e3c8d001a5f9b12
                email: jane@example.com
                created: false
          description: Existing customer updated
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-upsert-response.schema'
              example:
                id: 67bd4f1a2e3c8d001a5f9b12
                email: jane@example.com
                created: true
          description: New customer created
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request body or invalid email address
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Internal server error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create or update customer
      tags:
        - Customers
    summary: Customers
  /stores/{storeId}/inbound-shipments:
    description: Inbound shipments for a store.
    get:
      description: List inbound shipments, representing inventory in transit or received at a location. Sorted by most recently updated first.
      operationId: Inbound shipments list
      parameters:
        - $ref: '#/components/parameters/page-continue.param'
        - $ref: '#/components/parameters/page-size.param'
        - $ref: '#/components/parameters/inbound-shipment-status.param'
        - $ref: '#/components/parameters/location-id.param'
        - $ref: '#/components/parameters/created-at-min.param'
        - $ref: '#/components/parameters/created-at-max.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  inbound_shipments:
                    items:
                      $ref: '#/components/schemas/inbound-shipment-list.schema'
                    type: array
                required:
                  - inbound_shipments
                type: object
          description: Success
          headers:
            X-Page-Next:
              $ref: '#/components/headers/page-next.header'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: List Inbound Shipments
      tags:
        - Inbound Shipments
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Inbound Shipments
  /stores/{storeId}/inbound-shipments/{inboundShipmentId}:
    description: Single inbound shipment.
    get:
      description: Get a single inbound shipment by ID. Returns additional detail fields including purchase orders, transfer orders, files, volume, item discrepancies, and packing modes.
      operationId: Inbound shipment get
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  inbound_shipment:
                    $ref: '#/components/schemas/inbound-shipment-detail.schema'
                required:
                  - inbound_shipment
                type: object
          description: Success
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Inbound shipment not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Get Inbound Shipment
      tags:
        - Inbound Shipments
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/inbound-shipment-id.param'
    summary: Inbound Shipment
  /stores/{storeId}/inventory-items:
    description: In-stock inventory items for a store.
    get:
      description: List in-stock inventory items. Only items with on-hand quantity greater than zero are returned. Sorted by most recently updated first.
      operationId: Inventory items list
      parameters:
        - $ref: '#/components/parameters/page-continue.param'
        - $ref: '#/components/parameters/page-size.param'
        - $ref: '#/components/parameters/location-id.param'
        - $ref: '#/components/parameters/inventory-item-kind.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  inventory_items:
                    items:
                      $ref: '#/components/schemas/inventory-item-list.schema'
                    type: array
                required:
                  - inventory_items
                type: object
          description: Success
          headers:
            X-Page-Next:
              $ref: '#/components/headers/page-next.header'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: List Inventory Items
      tags:
        - Inventory Items
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Inventory Items
  /stores/{storeId}/inventory-items/{inventoryItemId}:
    description: Single inventory item.
    get:
      description: Get a single in-stock inventory item by ID.
      operationId: Inventory item get
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  inventory_item:
                    $ref: '#/components/schemas/inventory-item-list.schema'
                required:
                  - inventory_item
                type: object
          description: Success
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Inventory item not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Get Inventory Item
      tags:
        - Inventory Items
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/inventory-item-id.param'
    summary: Inventory Item
  /stores/{storeId}/inventory-levels:
    description: Inventory levels for a store.
    get:
      description: List inventory levels, representing the aggregate quantity of a product at a specific location. Sorted by most recently updated first.
      operationId: Inventory levels list
      parameters:
        - $ref: '#/components/parameters/page-continue.param'
        - $ref: '#/components/parameters/page-size.param'
        - $ref: '#/components/parameters/location-id.param'
        - $ref: '#/components/parameters/product-id.param'
        - $ref: '#/components/parameters/sku.param'
        - $ref: '#/components/parameters/updated-at-min.param'
        - $ref: '#/components/parameters/updated-at-max.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  inventory_levels:
                    items:
                      $ref: '#/components/schemas/inventory-level-list.schema'
                    type: array
                required:
                  - inventory_levels
                type: object
          description: Success
          headers:
            X-Page-Next:
              $ref: '#/components/headers/page-next.header'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: List Inventory Levels
      tags:
        - Inventory Levels
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Inventory Levels
  /stores/{storeId}/inventory-levels/{inventoryLevelId}:
    description: Single inventory level.
    get:
      description: Get a single inventory level by ID. Returns additional detail fields including external IDs, creation timestamp, product UPC, and image URL.
      operationId: Inventory level get
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  inventory_level:
                    $ref: '#/components/schemas/inventory-level-detail.schema'
                required:
                  - inventory_level
                type: object
          description: Success
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Inventory level not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Get Inventory Level
      tags:
        - Inventory Levels
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/inventory-level-id.param'
    summary: Inventory Level
  /invoices/pending/items.csv:
    description: Return invoice CSV file.
    get:
      description: Get an invoice as a CSV.
      operationId: Invoice pending csv get
      responses:
        '200':
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Pending Invoice (CSV)
      tags:
        - Invoices
    summary: Pending invoice
  /invoices/{invoiceId}/items.csv:
    description: Return invoice CSV file.
    get:
      description: Get an invoice as a CSV.
      operationId: Invoice csv get
      parameters:
        - $ref: '#/components/parameters/invoice-id.param'
      responses:
        '200':
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Invoice (CSV)
      tags:
        - Invoices
    summary: Invoice
  /stores/{storeId}/invoices:
    description: Return a list of invoices.
    get:
      description: Get a list of invoices.
      operationId: Invoice list
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  invoices:
                    items:
                      $ref: '#/components/schemas/invoice.schema'
                    type: array
                required:
                  - invoices
                type: object
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: List Invoices
      tags:
        - Invoices
    summary: Invoice
  /stores/{storeId}/admin:
    description: Navigate to the merchant admin page.
    get:
      description: Navigate to the merchant admin page.
      operationId: Merchant admin navigate
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      responses:
        '302':
          description: Redirect
      summary: Navigate to Merchant Admin
      tags:
        - Merchant Admin
    summary: Merchant admin
  /stores/{storeId}/orders:
    description: Orders collection.
    post:
      description: Create a new order in the system with line items, customer information, and shipping details.
      operationId: Order create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orders-api-create-order-request.schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-create-order-response.schema'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Bad Request (validation error)
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Unauthorized (invalid or missing API token)
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Conflict (duplicate order ID)
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create Order
      tags:
        - Orders
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Orders
  /stores/{storeId}/orders/{orderId}:
    description: Single order operations.
    get:
      description: Retrieve an existing order from the system, including all fulfillments. The orderId parameter can be either the external order ID you provided when creating the order, or the internal Redo order ID returned from the create order response.
      operationId: Order get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-get-order-response.schema'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Unauthorized (invalid or missing API token)
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Order not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Get Order
      tags:
        - Orders
    delete:
      description: Delete an order from the system. The orderId parameter can be either the external order ID you provided when creating the order, or the internal Redo order ID returned from the create order response.
      operationId: Order delete
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-delete-order-response.schema'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Unauthorized (invalid or missing API token)
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Order not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Delete Order
      tags:
        - Orders
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/order-id.param'
    summary: Order
  /stores/{storeId}/orders/{orderId}/fulfillments:
    description: Order fulfillments collection.
    post:
      description: Create a fulfillment for specific line items within an order, including tracking information. The orderId parameter can be either the external order ID you provided when creating the order, or the internal Redo order ID returned from the create order response.
      operationId: Fulfillment create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orders-api-create-fulfillment-request.schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-fulfillment-response.schema'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Bad Request (validation error)
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Unauthorized (invalid or missing API token)
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Order not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create Fulfillment
      tags:
        - Orders
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/order-id.param'
    summary: Order Fulfillments
  /stores/{storeId}/orders/{orderId}/fulfillments/{fulfillmentId}/shipment-status:
    description: Update fulfillment shipment status.
    post:
      description: |
        Post a shipment status update or trigger an automation event for a fulfillment.

        The status field accepts two types of values:

        **Statuses** (e.g., `in_transit`, `delivered`): Real carrier tracking statuses that update the shipment's current status. When you send these, the fulfillment's current status is updated to reflect the new state. Triggers any configured automations for that status.

        **Events** (e.g., `stalled_in_transit`, `delayed`, `arriving_early`): Special event types that trigger automations without changing the current shipment status. The status field remains unchanged, but you can still update estimated delivery date and add tracking history entries. Use these to trigger event-based automations.

        Both statuses and events can update other fields like estimated delivery date and tracking history.
      operationId: Fulfillment status update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orders-api-update-fulfillment-status-request.schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-fulfillment-response.schema'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Bad Request (validation error)
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Unauthorized (invalid or missing API token)
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orders-api-error.schema'
          description: Fulfillment not found
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Update Fulfillment Status
      tags:
        - Orders
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/order-id.param'
      - $ref: '#/components/parameters/fulfillment-id.param'
    summary: Fulfillment Shipment Status
  /stores/{storeId}/products/bulk-upload:
    post:
      description: |
        Bulk create or update product families and their variants.

        Submit up to 1,000 product families per request, each containing up to 100 variants.
        Products are processed asynchronously in batches. Only one bulk upload can run per store at a time.

        ## Matching Strategy

        The API uses the following priority to match incoming product families to existing records:

        1. **`product_family_id`** — Redo product family ID (direct lookup)
        2. **`external_id`** — ID from your external system
        3. **SKU** — Matched via variant SKUs

        If no match is found, a new product family is created.

        ## Concurrency

        Only one bulk upload operation can run per store at a time. If a bulk upload is already
        in progress, the request will return a `409 Conflict` error.
      operationId: Products bulk upload
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-product-upload-request.schema'
            examples:
              single_product:
                summary: Single product with one variant
                value:
                  products:
                    - title: Classic T-Shirt
                      description: A comfortable cotton t-shirt
                      vendor: Acme Apparel
                      tags:
                        - apparel
                        - basics
                      kind: SELLABLE
                      variants:
                        - sku: TSHIRT-BLK-M
                          price: 2999
                          currency: USD
                          weight: 200
                          weight_unit: g
              multiple_products_with_options:
                summary: Multiple products with options and images
                value:
                  products:
                    - title: Running Shoes
                      external_id: EXT-SHOES-001
                      options:
                        - name: Size
                          values:
                            - '9'
                            - '10'
                            - '11'
                        - name: Color
                          values:
                            - Black
                            - White
                      images:
                        - url: https://example.com/shoes-main.jpg
                          alt_text: Running shoes front view
                      variants:
                        - sku: SHOE-BLK-9
                          price: 12999
                          currency: USD
                          option_values:
                            - '9'
                            - Black
                        - sku: SHOE-WHT-10
                          price: 12999
                          currency: USD
                          option_values:
                            - '10'
                            - White
                    - title: Athletic Socks
                      variants:
                        - sku: SOCK-WHT-L
                          price: 1499
                          currency: USD
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-product-upload-response.schema'
              examples:
                success:
                  summary: Successful upload
                  value:
                    total_count: 2
                    processed_count: 2
                    error_count: 0
                    results:
                      - status: created
                        product_family_id: 01H5K3EXAMPLE1
                        products:
                          - id: 01H5K3EXAMPLE1A
                            sku: SHOE-BLK-9
                          - id: 01H5K3EXAMPLE1B
                            sku: SHOE-WHT-10
                      - status: updated
                        product_family_id: 01H5K3EXAMPLE2
                        products:
                          - id: 01H5K3EXAMPLE2A
                            sku: SOCK-WHT-L
                partial_failure:
                  summary: Partial failure
                  value:
                    total_count: 2
                    processed_count: 1
                    error_count: 1
                    results:
                      - status: created
                        product_family_id: 01H5K3EXAMPLE3
                        products:
                          - id: 01H5K3EXAMPLE3A
                            sku: TSHIRT-BLK-M
                      - status: error
                        error: Duplicate SKU found in request
          description: Upload completed
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request body or missing required fields
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: A bulk upload is already in progress for this store
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Bulk upload products (Beta)
      tags:
        - Products
  /returns/{returnId}:
    description: Return.
    get:
      description: Get return.
      operationId: Return get
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  order:
                    $ref: '#/components/schemas/order-read.schema'
                  return:
                    $ref: '#/components/schemas/return-read.schema'
                required:
                  - return
                  - order
                type: object
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Return
      tags:
        - Returns
    parameters:
      - $ref: '#/components/parameters/return-id.param'
    summary: Return
  /returns/{returnId}/comments:
    description: Return comment.
    get:
      description: List return comments.
      operationId: Return comments get
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  comments:
                    description: Return comments.
                    items:
                      $ref: '#/components/schemas/comment.schema'
                    title: Comments
                    type: array
                required:
                  - comments
                type: object
          description: Success
      summary: List Return Comments
      tags:
        - Returns
    parameters:
      - $ref: '#/components/parameters/return-id.param'
    post:
      description: Create return comment.
      operationId: Return comment create
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  $ref: '#/components/schemas/comment.schema'
              required:
                - comment
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  comment:
                    $ref: '#/components/schemas/comment.schema'
                required:
                  - comment
                type: object
          description: Created
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create Return Comment
      tags:
        - Returns
    summary: Return comment
  /returns/{returnId}/process:
    description: Process return.
    parameters:
      - $ref: '#/components/parameters/return-id.param'
    post:
      description: |
        **BETA**: This endpoint is in beta and subject to change.

        Trigger processing of a return with specified products.
      operationId: Return process
      requestBody:
        content:
          application/json:
            schema:
              properties:
                customerNotes:
                  description: Notes to send to customer. These can be rejection notes or processing notes.
                  type: string
                products:
                  description: Array of products to process or reject
                  items:
                    properties:
                      _id:
                        description: Product ID found on the return
                        example: 64e4d5e837572a4813b73e41
                        type: string
                      processInput:
                        description: Processing details. You may only have one of reject or processInput.
                        nullable: true
                        properties:
                          newMerchantAdjustment:
                            description: Adjustment amount. This will be the amount that is credited to the customer, overriding the original product value.
                            nullable: true
                            type: number
                          restock:
                            description: Whether to restock the item
                            type: boolean
                        type: object
                      reject:
                        default: false
                        description: Reject this product. You may only have one of reject or processInput.
                        type: boolean
                    required:
                      - _id
                    type: object
                  type: array
              required:
                - products
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Status message
                    examples:
                      - Processing triggered successfully
                      - Successfully prepared some products to be processed, once all products are ready, processing will be triggered
                    type: string
                type: object
          description: Processing request completed
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Bad request (e.g., missing products array)
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Process Return
      tags:
        - Returns
    summary: Process return
  /returns/{returnId}/status:
    description: Return status.
    get:
      description: Get return status.
      operationId: Return status get
      parameters:
        - $ref: '#/components/parameters/return-id.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/return-status.schema'
                required:
                  - status
                type: object
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Return Status
      tags:
        - Returns
    put:
      description: |
        Update return status.

        Certain status transitions trigger additional side effects to maintain data consistency:

        - Setting status to **complete** will also mark all return items as complete.
        - Setting status to **open** from **complete** or **rejected** will reopen the return, resetting all processed/rejected items back to open, clearing pending processing info, resetting the expiration date, and marking the return as reopened. **Note:** Reopening a processed return does not reverse any refunds, exchanges, or other actions that were performed during processing.
      operationId: Return status update
      parameters:
        - $ref: '#/components/parameters/return-id.param'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                status:
                  $ref: '#/components/schemas/return-status-update.schema'
              required:
                - status
              type: object
        required: true
      responses:
        '204':
          description: Updated
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Update Return Status
      tags:
        - Returns
    summary: Return status
  /stores/{storeId}/returns:
    description: List of returns for store.
    get:
      description: List returns, sorted by most recent to least recent.
      operationId: Returns list
      parameters:
        - $ref: '#/components/parameters/page-continue.param'
        - $ref: '#/components/parameters/page-size.param'
        - $ref: '#/components/parameters/updated-at-max.param'
        - $ref: '#/components/parameters/updated-at-min.param'
        - $ref: '#/components/parameters/shopify-order-name'
        - $ref: '#/components/parameters/provider-order-name'
        - $ref: '#/components/parameters/return-status.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  orders:
                    items:
                      $ref: '#/components/schemas/order-read.schema'
                    type: array
                  returns:
                    items:
                      $ref: '#/components/schemas/return-read.schema'
                    type: array
                required:
                  - orders
                  - returns
                type: object
          description: Success
          headers:
            X-Page-Next:
              $ref: '#/components/headers/page-next.header'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: List Returns
      tags:
        - Returns
    post:
      description: Create a return for specific order line items.
      operationId: Return create
      parameters:
        - $ref: '#/components/parameters/idempotency-key.param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-return-request.schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-return-response.schema'
          description: Success (idempotent replay; existing return returned)
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-return-response.schema'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request body
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Order not found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Conflict
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create Return
      tags:
        - Returns
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Returns
  /stores/{storeId}/returns/bulk:
    description: Import returns from external systems.
    post:
      description: |-
        Import externally-created returns into Redo. Use this endpoint when the return originates outside of Redo — a warehouse scan, an ERP, a POS system, or a partner platform.

        Products are referenced by their Redo product ID, obtained from the bulk product upload response. No order is required. Returns are created ready for warehouse intake. Supports up to 100 returns per request with per-item error reporting.
      operationId: Import returns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-returns-request.schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-returns-response.schema'
          description: Batch processed. Check individual results for per-item status. Some items may have succeeded while others failed.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request body or team not configured for product catalog operations.
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Import Returns
      tags:
        - Returns
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Import Returns
  /stores/{storeId}/return-tags:
    description: Return tags for a store.
    get:
      description: List every return tag defined for the store.
      operationId: Return tags list
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  tags:
                    items:
                      $ref: '#/components/schemas/return-tag.schema'
                    type: array
                required:
                  - tags
                type: object
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: List Return Tags
      tags:
        - Returns
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    summary: Return Tags
  /stores/{storeId}/return-tags/{name}:
    delete:
      description: Delete a return tag. The tag is also stripped from every return and saved view filter that referenced it.
      operationId: Return tag delete
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  success:
                    const: true
                    type: boolean
                required:
                  - success
                type: object
          description: Success
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid request. Returned with type `com.getredo.api:return-tag/invalid-request` when the path `name` is missing.
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Delete Return Tag
      tags:
        - Returns
    description: Return tag.
    put:
      description: |-
        Create a new return tag, update an existing tag's color, or rename a tag. When `newName` is set and differs from the path `name`, the rename cascades to returns and saved view filters.

        Possible 400 problem types:
        - `com.getredo.api:return-tag/rename-precondition-failed` — the source
          tag does not exist, or the target name is already in use.

        - `com.getredo.api:return-tag/invalid-request` — the path `name` is
          missing or the request body is invalid.
      operationId: Return tag upsert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/return-tag-upsert-request.schema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  tag:
                    $ref: '#/components/schemas/return-tag.schema'
                required:
                  - tag
                type: object
          description: Success
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Rename precondition failed or invalid request
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Upsert Return Tag
      tags:
        - Returns
    parameters:
      - $ref: '#/components/parameters/store-id.param'
      - $ref: '#/components/parameters/return-tag-name.param'
    summary: Return Tag
  /stores/{storeId}/storefront/events:
    post:
      description: Processes events from storefronts using Shopify pixel event schema
      operationId: Storefront Event
      parameters:
        - $ref: '#/components/parameters/store-id.param'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/storefront-event.schema'
        required: true
      responses:
        '204':
          description: Event processed successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Invalid event payload
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Receive Storefront Events
      tags:
        - Storefront
  /stores/{storeId}/webhooks:
    description: Webhooks.
    get:
      description: List webhooks for store.
      operationId: Webhooks list
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  webhooks:
                    items:
                      $ref: '#/components/schemas/webhook-read.schema'
                    type: array
                required:
                  - webhooks
                type: object
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      summary: List Webhooks
      tags:
        - Webhooks
    parameters:
      - $ref: '#/components/parameters/store-id.param'
    post:
      description: Create webhook for store. Or if webhook already exists with `externalId`, update it.
      operationId: Webhook create
      requestBody:
        content:
          application/json:
            schema:
              properties:
                webhook:
                  $ref: '#/components/schemas/webhook-create.schema'
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    $ref: '#/components/schemas/webhook-read.schema'
                type: object
          description: Updated
        '201':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    $ref: '#/components/schemas/webhook-read.schema'
                type: object
          description: Created
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      security:
        - Bearer: []
      summary: Create or Update Webhook
      tags:
        - Webhooks
    summary: Webhooks
  /webhooks/{webhookId}:
    delete:
      description: Delete a webhook.
      operationId: Webhook delete
      parameters:
        - $ref: '#/components/parameters/webhook-id.param'
      responses:
        '204':
          description: Deleted
      security:
        - Bearer: []
      summary: Delete Webhook
      tags:
        - Webhooks
    description: Webhook.
    get:
      description: Get a webhook.
      operationId: Webhook get
      parameters:
        - $ref: '#/components/parameters/webhook-id.param'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    $ref: '#/components/schemas/webhook-read.schema'
                required:
                  - webhook
                type: object
          description: Success
      summary: Webhook
      tags:
        - Webhooks
    put:
      description: Update a webhook.
      operationId: Webhook update
      parameters:
        - $ref: '#/components/parameters/webhook-id.param'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                webhook:
                  $ref: '#/components/schemas/webhook-update.schema'
              required:
                - webhook
              type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      summary: Update Webhook
      tags:
        - Webhooks
    summary: Webhook
  /webhooks/{webhookId}/replay:
    description: Webhook replay.
    parameters:
      - $ref: '#/components/parameters/webhook-id.param'
    post:
      description: Replay a webhook.
      operationId: Webhook replay
      requestBody:
        content:
          application/json:
            schema:
              properties:
                start:
                  format: date-time
                  type: string
              required:
                - start
              type: object
        required: true
      responses:
        '202':
          description: Success
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error.schema'
          description: Error
      summary: Replay Webhook
      tags:
        - Webhooks
    summary: Webhook replay
webhooks:
  return:
    post:
      operationId: Webhook return event
      requestBody:
        content:
          application/json:
            schema:
              description: Return event
              properties:
                at:
                  description: Event time
                  format: date-time
                  title: At
                  type: string
                merchantName:
                  description: Name of the merchant team that owns this return.
                  title: Merchant Name
                  type: string
                order:
                  $ref: '#/components/schemas/order-read.schema'
                  description: Order for return.
                  title: Order
                return:
                  $ref: '#/components/schemas/return-read.schema'
                  description: Return.
                  title: Return
                type:
                  description: Event type
                  enum:
                    - backfill
                    - created
                    - updated
                  type: string
              type: object
        description: |
          Return event webhook.
        required: true
      responses:
        2XX:
          description: Success. Return a 2xx status code to indicate success.
        default:
          description: Error. The event will be retried multiple times and then discarded.
      security:
        - UserBearer: []
      summary: Return event
      tags:
        - Returns
components:
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    UserBearer:
      scheme: bearer
      type: http
  parameters:
    store-id.param:
      description: Store ID
      in: path
      name: storeId
      required: true
      schema:
        example: 64e5a8a1af49a89df37e4ee7
        type: string
    page-continue.param:
      description: Page marker, from X-Page-Next header
      example: 64df700931a04885276c3364
      in: header
      name: X-Page-Continue
      schema:
        type: string
    page-size.param:
      description: Page size, defaults to 20
      example: 20
      in: header
      name: X-Page-Size
      schema:
        maximum: 500
        minimum: 1
        type: integer
    inbound-shipment-status.param:
      description: Filter by shipment status
      example: IN_TRANSIT
      in: query
      name: status
      schema:
        enum:
          - PENDING
          - IN_TRANSIT
          - PARTIALLY_RECEIVED
          - RECEIVED
        type: string
    location-id.param:
      description: Filter by location ID (e.g. `loc_...`)
      example: loc_4d8e1a2b3c
      in: query
      name: location_id
      schema:
        type: string
    created-at-min.param:
      description: Minimum created time, inclusive
      example: '2000-01-01T00:00:00Z'
      in: query
      name: created_at_min
      schema:
        format: date-time
        type: string
    created-at-max.param:
      description: Maximum created time, exclusive
      example: '2026-01-01T00:00:00Z'
      in: query
      name: created_at_max
      schema:
        format: date-time
        type: string
    inbound-shipment-id.param:
      description: Inbound shipment ID
      in: path
      name: inboundShipmentId
      required: true
      schema:
        example: inb_7a3f9c2e1b
        type: string
    inventory-item-kind.param:
      description: Filter by inventory item kind
      example: PRODUCT
      in: query
      name: kind
      schema:
        enum:
          - PRODUCT
          - RETURN
          - UNDECLARED
          - UNKNOWN
        type: string
    inventory-item-id.param:
      description: Inventory item ID
      in: path
      name: inventoryItemId
      required: true
      schema:
        example: ii_5f8e1a2b3c
        type: string
    product-id.param:
      description: Filter by product ID (e.g. `prd_...`)
      example: prd_1a2b3c4d5e
      in: query
      name: product_id
      schema:
        type: string
    sku.param:
      description: Filter by product SKU
      example: TSH-BLK-M
      in: query
      name: sku
      schema:
        type: string
    updated-at-min.param:
      description: Minimum updated time, inclusive
      example: '2000-01-01T00:00:00Z'
      in: query
      name: updated_at_min
      schema:
        format: date-time
        type: string
    updated-at-max.param:
      description: Maximum updated time, exclusive
      example: '2000-02-01T00:00:00Z'
      in: query
      name: updated_at_max
      schema:
        format: date-time
        type: string
    inventory-level-id.param:
      description: Inventory level ID
      in: path
      name: inventoryLevelId
      required: true
      schema:
        example: li_9b2c4d6e8f
        type: string
    invoice-id.param:
      description: Invoice ID
      in: path
      name: invoiceId
      required: true
      schema:
        example: 64e4d5e837572a4813b73e40
        type: string
    order-id.param:
      description: Order ID. Can be either the external order ID provided when creating the order, or the internal Redo order ID.
      in: path
      name: orderId
      required: true
      schema:
        type: string
    fulfillment-id.param:
      description: Unique fulfillment identifier.
      in: path
      name: fulfillmentId
      required: true
      schema:
        type: string
    return-id.param:
      description: Return ID
      in: path
      name: returnId
      required: true
      schema:
        example: 64e4d5e837572a4813b73e40
        type: string
    shopify-order-name:
      description: Shopify specific order name
      in: query
      name: shopify_order_name
      schema:
        example: XYZ1025
        type: string
    provider-order-name:
      description: Provider specific order name
      in: query
      name: provider_order_name
      schema:
        example: XYZ1025
        type: string
    return-status.param:
      description: Filter returns by status
      in: query
      name: status
      schema:
        $ref: '#/components/schemas/return-status.schema'
    idempotency-key.param:
      description: Optional idempotency key for safely retrying create requests.
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
    return-tag-name.param:
      description: Return tag name. Case-sensitive and URL-encoded.
      in: path
      name: name
      required: true
      schema:
        example: Damaged
        type: string
    webhook-id.param:
      description: Webhook ID
      in: path
      name: webhookId
      required: true
      schema:
        example: 64e5a865a58eefeed7f05ea6
        type: string
  schemas:
    money.schema:
      description: Currency amount
      properties:
        amount:
          examples:
            - '50.2'
            - '1.78'
          title: Amount
          type: string
        currency:
          examples:
            - USD
            - EUR
          title: Currency
          type: string
      title: Money
      type: object
    storefront-cart.schema:
      description: Storefront cart.
      properties:
        lineItems:
          description: Line items.
          items:
            properties:
              coupons:
                items:
                  properties:
                    code:
                      type: string
                    discountAmount:
                      $ref: '#/components/schemas/money.schema'
                      description: The amount this coupon discounts in dollars for this line item.
                    id:
                      type: string
                  required:
                    - id
                    - code
                    - discountAmount
                  type: object
                type: array
              id:
                description: Line item ID.
                title: ID
                type: string
              originalPrice:
                $ref: '#/components/schemas/money.schema'
                description: Original price.
                title: Original Price
              priceTotal:
                $ref: '#/components/schemas/money.schema'
                description: Total price.
                title: Price
              product:
                description: Product.
                properties:
                  id:
                    description: Identifier of the product.
                    title: ID
                    type: string
                required:
                  - id
                type: object
              quantity:
                description: Quantity.
                title: Quantity
                type: integer
              variant:
                description: Variant.
                properties:
                  id:
                    description: Identifier of the variant.
                    title: ID
                    type: string
                required:
                  - id
                type: object
            required:
              - id
              - quantity
              - product
              - variant
              - priceTotal
            type: object
          title: Line items
          type: array
        priceTotal:
          $ref: '#/components/schemas/money.schema'
          description: Total price.
          title: Price
      required:
        - lineItems
        - priceTotal
      title: Storefront Cart
      type: object
    storefront-customer.schema:
      description: Storefront customer.
      properties:
        id:
          description: Customer ID.
          title: ID
          type: string
      required:
        - id
      title: Storefront Customer
      type: object
    length.schema:
      description: Length measurement with unit.
      properties:
        unit:
          description: Length unit
          enum:
            - in
            - cm
          examples:
            - in
            - cm
          title: Unit
          type: string
        value:
          description: Numeric length value
          examples:
            - 10.5
            - 30
          minimum: 0
          title: Value
          type: number
      required:
        - value
        - unit
      title: Length
      type: object
    weight.schema:
      description: Weight.
      properties:
        kg:
          description: Weight in kilograms
          examples:
            - 0.021
            - 1.4
          minimum: 0
          title: Kilograms
          type: number
      title: Weight
      type: object
    error.schema:
      description: Problem details. See [RFC 7807 Section 3](https://datatracker.ietf.org/doc/html/rfc7807#section-3).
      properties:
        detail:
          description: Human-readable description of the problem.
          title: Detail
          type: string
        instance:
          description: A URI reference that identifies this problem.
          format: uri-reference
          type: string
        title:
          description: Human-readable summary of the problem type.
          title: Title
          type: string
        type:
          default: about:blank
          description: A URI reference that identifies the problem type.
          format: uri-reference
          type: string
      title: Problem details
      type: object
    coverage-product.schema:
      description: Coverage product.
      properties:
        coverages:
          description: Coverage.
          items:
            properties:
              lineItems:
                items:
                  properties:
                    id:
                      description: Line item ID.
                      title: ID
                      type: string
                  type: object
                type: array
              type:
                enum:
                  - shipping_failure
                  - return_shipping
                title: Coverage
            required:
              - lineItems
              - type
            type: object
          type: array
        id:
          description: Coverage ID.
          title: ID
          type: string
        price:
          $ref: '#/components/schemas/money.schema'
          description: Price.
          title: Price
      required:
        - coverage
        - id
        - price
      title: Coverage product
      type: object
    custom-event-request.schema:
      additionalProperties: true
      description: |
        Custom event to trigger flows with merchant-defined event names and properties.
      properties:
        eventName:
          description: The name of the custom event (e.g., 'User Registered', 'Loyalty Reward Earned').
          type: string
        customer:
          description: |
            Customer identity and profile fields. At least one of `id`, `email`, or `phoneNumber` is required for identity resolution.
          type: object
          additionalProperties: false
          anyOf:
            - required:
                - id
            - required:
                - email
            - required:
                - phoneNumber
          properties:
            id:
              description: Redo customer ObjectId. Used for identity resolution. Takes priority over email and phoneNumber when provided.
              type: string
            email:
              description: Customer email address. Used for identity resolution.
              format: email
              type: string
            phoneNumber:
              description: Customer phone number in E.164 format. Used for identity resolution.
              type: string
            firstName:
              description: Customer first name. Applied with patch semantics — does not erase existing value if omitted.
              type: string
            lastName:
              description: Customer last name. Applied with patch semantics — does not erase existing value if omitted.
              type: string
            location:
              description: Customer location for profile enrichment. All fields are optional.
              type: object
              additionalProperties: false
              properties:
                street1:
                  description: Primary street address.
                  type: string
                street2:
                  description: Secondary address line (apartment, suite, etc.).
                  type: string
                city:
                  description: City name.
                  type: string
                state:
                  description: State or province name.
                  type: string
                stateCode:
                  description: State or province abbreviation (e.g., "CA", "NY").
                  type: string
                postalCode:
                  description: Postal or ZIP code.
                  type: string
                country:
                  description: Country name.
                  type: string
                countryCode:
                  description: ISO 3166-1 alpha-2 country code (e.g., "US", "GB").
                  type: string
                ianaTimeZoneName:
                  description: IANA time zone identifier (e.g., "America/New_York").
                  type: string
                latitude:
                  description: Geographic latitude coordinate.
                  type: number
                longitude:
                  description: Geographic longitude coordinate.
                  type: number
            customFields:
              description: |
                Merchant-defined customer attributes as key-value pairs. Values can be strings, numbers, or booleans. Date values should be passed as ISO 8601 strings (e.g., "2026-04-02T12:00:00Z") and are automatically detected and indexed as dates.
              type: object
              additionalProperties:
                oneOf:
                  - type: string
                  - type: number
                  - type: boolean
        data:
          description: |
            Custom properties for this event (must not exceed 400 properties). The size of the event payload must not exceed 5 MB, and each string cannot be larger than 100 KB. For a full list of data limits on event payloads, see [Limitations](/docs/guides/integrations/custom-events#rate-limits).

            Note any top-level property that is not an object can be used to create segments. The `$extra` property records any non-segmentable values that can be referenced later, e.g., HTML templates are useful on a segment but are not used to create a segment.
          type: object
          additionalProperties:
            description: |
              Segmentable event property. Each key you add becomes available for audience segmentation and automation conditions. Supported types are string, number, boolean, and date (ISO 8601 strings like "2025-01-15T00:00:00Z" are auto-detected as dates). Values of 0, null, and empty string ("") are treated as unset and will not be stored.
            anyOf:
              - type: string
              - type: number
              - type: boolean
          properties:
            $extra:
              description: |
                Non-segmentable metadata bucket. Values inside `$extra` are stored on the event but excluded from segmentation indexes. Unlike top-level data properties, values of 0, null, and empty string are NOT stripped inside `$extra`. Use this for large text, debug info, nested objects, arrays, or any data you want to reference in templates but not segment on.
              type: object
              additionalProperties: true
        eventTimestamp:
          description: ISO 8601 timestamp when the event occurred. Defaults to current time if not provided.
          format: date-time
          type: string
        value:
          description: Monetary or conversion value associated with the event (e.g., purchase amount).
          type: number
        valueCurrency:
          description: ISO 4217 currency code for the value field (e.g., "USD", "EUR").
          type: string
        uniqueId:
          description: |
            Merchant-controlled deduplication key (1-255 characters). If provided, subsequent events with the same uniqueId for the same store are silently deduplicated. Use this for safe retries and at-least-once delivery patterns.
          type: string
      required:
        - eventName
        - customer
      title: Custom Event Request
      type: object
    bulk-custom-event-request.schema:
      additionalProperties: false
      description: Request body for sending multiple custom events in a single request.
      properties:
        events:
          description: Array of custom events to create.
          type: array
          items:
            $ref: '#/components/schemas/custom-event-request.schema'
          maxItems: 100
          minItems: 1
      required:
        - events
      title: Bulk Custom Event Request
      type: object
    subscription-status-marketing.schema:
      description: Marketing subscription status
      properties:
        subscriptionStatus:
          description: Subscription status
          enum:
            - subscribed
            - confirmed
            - unsubscribed
          type: string
        triggerAutomations:
          default: false
          description: Whether to trigger automations for this subscription change. Defaults to false.
          type: boolean
        updatedAt:
          description: ISO 8601 timestamp. If not provided, defaults to now.
          format: date-time
          type: string
      required:
        - subscriptionStatus
      title: Subscription Status Marketing
      type: object
    customer-subscription-email.schema:
      description: Email subscription updates
      properties:
        email:
          description: Email address
          format: email
          type: string
        subscriptions:
          properties:
            marketing:
              $ref: '#/components/schemas/subscription-status-marketing.schema'
          type: object
      required:
        - email
        - subscriptions
      type: object
    subscription-status-transactional.schema:
      description: Transactional subscription status (order tracking)
      properties:
        subscriptionStatus:
          description: Subscription status. Only subscribed and unsubscribed are supported for transactional.
          enum:
            - subscribed
            - unsubscribed
          type: string
        updatedAt:
          description: ISO 8601 timestamp. If not provided, defaults to now.
          format: date-time
          type: string
      required:
        - subscriptionStatus
      title: Subscription Status Transactional
      type: object
    customer-subscription-sms.schema:
      description: SMS subscription updates
      properties:
        phoneNumber:
          description: Phone number in E.164 format (e.g., +12345678900)
          type: string
        subscriptions:
          properties:
            marketing:
              $ref: '#/components/schemas/subscription-status-marketing.schema'
            transactional:
              $ref: '#/components/schemas/subscription-status-transactional.schema'
          type: object
      required:
        - phoneNumber
        - subscriptions
      type: object
    customer-subscription-update-response.schema:
      description: Customer subscription update response
      properties:
        message:
          description: Human-readable success message
          type: string
        success:
          description: Whether the operation was successful
          type: boolean
        updatedSubscriptions:
          description: Details of which subscriptions were updated
          properties:
            email:
              properties:
                marketing:
                  description: Whether email marketing was updated
                  type: boolean
              type: object
            sms:
              properties:
                marketing:
                  description: Whether SMS marketing was updated
                  type: boolean
                transactional:
                  description: Whether SMS transactional was updated
                  type: boolean
              type: object
          type: object
      required:
        - success
        - message
        - updatedSubscriptions
      type: object
    customer-location.schema:
      description: Customer location information.
      properties:
        street1:
          description: Street address line 1
          type: string
        street2:
          description: Street address line 2
          type: string
        city:
          description: City name
          type: string
        state:
          description: State or province name
          examples:
            - Washington
            - Ontario
          type: string
        stateCode:
          description: State or province abbreviation
          examples:
            - WA
            - 'ON'
          type: string
        postalCode:
          description: Postal or ZIP code
          examples:
            - '12345'
            - K1A 0B1
          type: string
        country:
          description: Country name
          examples:
            - United States
            - Canada
          type: string
        countryCode:
          description: ISO 3166-1 alpha-2 country code
          examples:
            - US
            - CA
          type: string
        ianaTimeZoneName:
          description: IANA time zone identifier
          examples:
            - America/New_York
            - America/Los_Angeles
          type: string
        latitude:
          description: Latitude coordinate
          type: number
        longitude:
          description: Longitude coordinate
          type: number
      title: Customer Location
      type: object
    customer-read.schema:
      description: Customer profile.
      properties:
        id:
          description: Redo customer ID
          examples:
            - 67bd4f1a2e3c8d001a5f9b12
          type: string
        email:
          description: Customer email address
          format: email
          examples:
            - jane@example.com
          type: string
        firstName:
          description: Customer first name
          examples:
            - Jane
          type: string
        lastName:
          description: Customer last name
          examples:
            - Smith
          type: string
        phoneNumber:
          description: Customer phone number in E.164 format
          examples:
            - '+11234567890'
          type: string
        location:
          $ref: '#/components/schemas/customer-location.schema'
        customFields:
          description: Custom field values as key-value pairs, where keys are field names and values can be strings, numbers, or booleans. DATE custom field values are returned as ISO 8601 datetime strings (e.g., "2026-01-15T12:00:00.000Z"), not Date objects.
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
          examples:
            - subscription_source: web
              status: Active
              loyalty_points: 1250
              vip_member: true
              signup_date: '2026-02-24T12:15:00.000Z'
        createdAt:
          description: Timestamp when the customer was created. May be null for older customers created before this field was tracked.
          format: date-time
          title: Created at
          examples:
            - '2026-02-20T18:30:00.000Z'
          type:
            - string
            - 'null'
        updatedAt:
          description: Timestamp when the customer was last updated. May be null for older customers created before this field was tracked.
          format: date-time
          title: Updated at
          examples:
            - '2026-02-24T12:15:00.000Z'
          type:
            - string
            - 'null'
      required:
        - id
        - email
      title: Customer
      type: object
    customer-upsert-request.schema:
      additionalProperties: false
      description: Request body for creating or updating a customer profile. The email address is used as the upsert key.
      properties:
        email:
          description: Customer email address. Used as the upsert key to find or create the customer.
          format: email
          type: string
        firstName:
          description: Customer first name
          type: string
        lastName:
          description: Customer last name
          type: string
        phoneNumber:
          description: Customer phone number in E.164 format (e.g., +12345678900). Appended to the existing phone list if not already present.
          examples:
            - '+12345678900'
          type: string
        location:
          $ref: '#/components/schemas/customer-location.schema'
        customFields:
          description: |-
            Custom field values as key-value pairs. Keys are field names and values can be strings, numbers, or booleans. The field type is determined automatically based on the value:
            - String values → STRING custom field
            - Number values → NUMBER custom field
            - Boolean values → BOOLEAN custom field
[...]
