concurrency:
  cancel-in-progress: true
  group: build/${{ github.ref }}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
        with:
          bazel-cache-key: bazel/${{ runner.os }}-${{ runner.arch }}/build/lint
      - name: Test lint
        run: bazel test tools/lint:lint_test
      - if: always()
        name: Cleanup
        uses: ./.github/actions/cleanup
        with:
          bazel-cache-key: bazel/${{ runner.os }}-${{ runner.arch }}/v2.2/build/lint
          cache-write: ${{ github.ref == 'refs/heads/release/v2.2' }}
    timeout-minutes: 15
  publish:
    name: Publish
    needs: [lint]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
        with:
          bazel-cache-key:
            bazel/${{ runner.os }}-${{ runner.arch }}/build/publish
      - name: Publish
        env:
          API_STOPLIGHT_TOKEN: ${{ secrets.API_STOPLIGHT_TOKEN }}
          WEB_STOPLIGHT_TOKEN: ${{ secrets.WEB_STOPLIGHT_TOKEN }}
        run: |
          bazel run redo/api-doc:deploy -- -b v2.2 --ci-token "$API_STOPLIGHT_TOKEN"
          bazel run redo/web-doc:deploy -- -b v2.2 --ci-token "$WEB_STOPLIGHT_TOKEN"
      - if: always()
        name: Cleanup
        uses: ./.github/actions/cleanup
        with:
          bazel-cache-key:
            bazel/${{ runner.os }}-${{ runner.arch }}/v2.2/build/publish
          cache-write: ${{ github.ref == 'refs/heads/release/2.2' }}
    timeout-minutes: 15
name: Build
on: [push, workflow_dispatch]
permissions:
  actions: write
  contents: read
  id-token: write
